{% extends 'index.html' %}

{% block content %}
<h1>Rooms</h1>
<div>
    <div>
        <a href={%url 'create-room' %}>
            Create New room
        </a>
        
    </div>
    {% for room in rooms %}
    <h3>{{room.host.username}}</h3>
    <div>
        <div>
            <a href={%url 'update-room' pk=room.id %}>
                update room
            </a>
        </div>
        <hr>

        <a href={% url 'rooms' room.id%}>
            <h2>{{ room.name }} -- {{ room.description }}</h2>
        </a>
        <span>{{room.topic.name}}</span>
        <hr>
    </div>

    {% endfor %}
</div>
{% endblock %}